version: "3.9"

services:
    backend:
        build:
            context: ./shop-backend
        container_name: shop-backend
        ports:
            - "8080:8080"
        environment:
            SPRING_PROFILES_ACTIVE: docker
        networks:
            - shop-network

    frontend:
        build:
            context: ./shop-frontend
        container_name: shop-frontend
        ports:
            - "4200:80"
        depends_on:
            - backend
        networks:
            - shop-network

networks:
    shop-network:
        driver: bridge
