.panel-content {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.label {
  font-weight: 500;
  margin-bottom: 4px;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.actions {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}


.go-back-btn {
  color: black;
  border-radius: 0.5em;
  width: 3em;
  margin-left: 2em;
  cursor: pointer;

}

button.primary {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button:disabled {
  background: #868484;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 14px;
  cursor: default;
}

button.secondary {
  background: #fff;
  border: 1px solid #ccc;
}

.first-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.readonly-warning {
  margin-top: 2em;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 16px;
  border-radius: 4px;
}